body, h1 {
    margin: 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


// underwater grad for sect. 3-4
.underwater-gradient {
    background: #104861;
    background: -webkit-linear-gradient(0deg, #104861 0%, #557583 50%, #81a1a3 100%);
    background: linear-gradient(0deg, #104861 0%, #557583 50%, #81a1a3 100%);
}


.section--1, .section--2, .section--3, .section--4 {
    height: 70vw;
    border: solid red;
    position: relative;
    
}

// Section 1
.section--1 {
    background: #d3e3e5;
    background: -webkit-linear-gradient(0deg, #d3e3e5 0%, #828b93 100%);
    background: linear-gradient(0deg, #d3e3e5 0%, #828b93 100%);
}

.background {
    // background: #d3e3e5;
    // background: -webkit-linear-gradient(0deg, #d3e3e5 0%, #828b93 100%);
    // background: linear-gradient(0deg, #d3e3e5 0%, #828b93 100%);
    position: absolute;
    bottom: 0;
}

.island {
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 54% ;
    color: orange;
    width: 100vw;
    height: 100vw;
    border-radius: 100% 0% 0% 25% / 70% 25% 25% 0%;
    z-index: 1;
    position: absolute;
 }
// End of Section 1


// Section 2 

.wave-nasty {
    position: absolute;
    bottom: 0;
}



// End of Section 2 


// Section 3 



// End of Section 3 

// Section 4 
.section--4 {
    // background: #3a4ca0;
    // background: -webkit-linear-gradient(0deg, #3a4ca0 0%, #53b8e6 100%);
    // background: linear-gradient(0deg, #3a4ca0 0%, #53b8e6 100%);
}

.ocean--floor {
    position: absolute;
    bottom: 0;
}

.trash {
    display: flex;

    &--net {
        transform: scale(0.7);
        z-index: 10;
        bottom: 2vw;
        width: 30vw;
        position: absolute;
    }

    &--bag {
        z-index: 10;
        transform: scale(0.1);
        position: absolute;
        left: 20vw;
        align-items: flex-end;
    }

    &--straw{
        z-index: 10;
        position: absolute;
        left: 90%;
        max-width: 10%;
        max-height: 10%;
        bottom: 15%
    }
}


@keyframes floating {
    0%, 100% {
        transform: scale(0.1) translateY(0px);
    }
    50% {
        transform: scale(0.1) translateY(-100px); 
    }
}

.trash--bag {
    animation: floating 2s infinite ease-in-out;
}


@keyframes rotateCounterClockwise {
    0%, 100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(-25deg);
    }
  }

  .trash--straw{
    animation: rotateCounterClockwise 4s infinite ease-in-out;
  }


.text{
    display: flex;
    justify-content: center;

    &--headline{
        position: absolute;
        top: 15%;
        left: 41%;
        color: whitesmoke;
    }   

    &--info{
        position: absolute;
        top: 20%;
        max-width: 40ch;
        padding: 5px;
        color: whitesmoke;
    }
}

article > a{
    color: #fcbf5b;
    text-decoration: none;
    cursor: pointer;
}

.corals {
    display: flex;
    
    &--right, &--left {
        bottom: 5vw;
        width: 20vw  ;
        position: absolute;
    }

    &--right {
        right: 0px;
    }
    
    &--left {
        left: 0px;
    }
}
// End of Section 4 

