.section--1 {
    background-color: aqua;
    height: 1000px;
}

.section--2 {
    background-color: green;
    height: 1000px;

}

.section--3 {
    background-color: hotpink;
    height: 1000px;

}

.section--4 {
    background-color: blue;
    height: 1000px;

}