// colors 
// #d3e3e5
//#828b93
// 104861
// 557583
//81a1a3


// Keyframes 
@keyframes swim-diagonally {
    0% {
        transform: translateX(20vw) translateY(0vw);
    }
    100% {
        transform: translateX(-10vh) translateY(-40vh);
    }
}
// End of Keyframes

// General
body, h1 {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


// UN goal img
.goal {
    position: fixed;
    opacity: 0.70;
    width: 8vw;
    right: 2%;
    top: 2%;
    z-index: 2;
}

// section fade-in animation

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}
// end of General

// commons
.section--1, .section--2, .section--3, .section--4 {
    position: relative;
    border: solid 2px hotpink;
    height: 100vh;
}

// end of commons

// Section 1
.section--1, .section--2 {
    background: linear-gradient(0deg, #d3e3e5 0%, #828b93 100%);
    position: relative;
}


// End of Section 1

// Section 2
.section--2 {

    &--wave--nasty {
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
}

.cont {
    display: flex;

    &__item {
        z-index: 1;
    }
}


.fish, .fish--dead {
    width: 10vw;
}

.question-mark {
    top: 50vw;
    font-size: 2rem;
    font-weight: bold;
}

.fish, .fish--small, .question-mark {
    animation: swim-diagonally 9s forwards infinite;
    position: absolute;
    z-index: 4;
}

.fish {
  top: 60vw;

  &--small {
      width: 8vw;
      top: 70vw
  }

  &--dead {

  }
}

.trash {
    display: flex;
    justify-content: space-around;
    margin-top: 30%;

    &--glassbottle {
        opacity: 0.8;
        width: 8vw;
        bottom: 0;
    }

    &--waterbottle {
        width: 5vw;
    }

    &--plastic {
        width: 15vw;
    }

    &--cigar {

    }
}


// End of Section 2 


// Section 3 
.section--3 {
    z-index: 3;
}


// End of Section 3 

// underwater grad for sect. 3-4
.underwater-gradient {
    background: linear-gradient(0deg, #104861 0%, #557583 50%, #81a1a3 100%);
    z-index: 0;
}

// Section 4 
.section--4 {

}

.ocean--floor {
    position: absolute;
    bottom: 0;
}

.corals {
    display: flex;
    
    &--right, &--left {
        bottom: 5vw;
        width: 20vw  ;
        position: absolute;
    }

    &--right {
        right: 0px;
    }
    
    &--left {
        left: 0px;
    }
}
// End of Section 4 

